<div class="background-rounded-white-no-tab-no-part px-4 py-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-sm-6 d-flex justify-content-center">
      <%= form_for @trip, html: {class:"trip_form"} do |f| %>
        <% if f.object.errors.any? %>
          <div class="error_messages">
            <% f.object.errors.full_messages.each do |error| %>
              <p><%= error %></p>
            <% end %>
          </div>
        <% end %>
        <fieldset>
          <legend class="trip_question">
            <p><strong>Hello <%= current_user.first_name %> !</strong></p>
            <strong>Comment veux-tu appeler ton prochain trip ?</strong>
          </legend>

          <div id="trip_name_input">
            <%= f.text_field :name, placeholder:'Week-end entre amis' %>
          </div>

          <div class="d-flex justify-content-center mt-5">
            <%= button_tag type: 'submit', class: "btn btn-primary", id: "trip_form_next" do %>
              <p>Suite
              <i class="fas fa-long-arrow-alt-right ml-1"></i></p>
            <% end %>
          </div>
        </fieldset>
      <% end %>
    </div>
    <div class="col-sm-6 d-none d-sm-block">
      <%= image_tag 'undraw_traveling.svg', class:"img-fluid" %>
    </div>
  </div>
</div>