<%= render layout: '/layouts/trip' do %>
  <div class="trip_show_card_bg">
    <%= render partial: 'shared/trip/trip_card_info', locals: {trip: @trip} %>
  </div>

  <div class="trip_show_menu trip_show_card_bg">
    <%= render partial: 'shared/trip/trip_menu_btn', 
      locals: {
        icon: "fas fa-map-marker-alt", 
        text: "Destination", 
        path: edit_destination_path(@trip),
        method: :get
      } 
    %>
    <%= render partial: 'shared/trip/trip_menu_btn', 
      locals: {
        icon: "fas fa-calendar-alt", 
        text: "Dates",
        path: edit_dates_path(@trip),
        method: :get
      } 
    %>
    <%= render partial: 'shared/trip/trip_menu_btn', 
      locals: {
        icon: "fas fa-home", 
        text: "Logement",
        path: @trip.not_started? ? trip_start_propositions_path(@trip) : trip_rooms_path(@trip),
        method: @trip.not_started? ? :put : :get
      } 
    %>
    <%= render partial: 'shared/trip/trip_menu_btn', 
      locals: {
        icon: "fas fa-users", 
        text: "Participants",
        path: trip_participants_path(@trip),
        method: :get
        }
    %>
  </div>
  
<% end %>