<div class="container">
  <div class="card my-3 p-3">
    <h2><%= @trip.name %></h2>
    <p>Début : <%= @trip.start_date %></p>
    <p>Fin : <%= @trip.end_date %></p>
    <p>Destination : <%= @trip.destination %></p>
    <p>créé par <%= @trip.user.email %></p>  
  </div>
  <div class="card my-3 p-3">
    <h4>Participants</h4>
    <ul>
      <% @participants.each do |participant| %>
        <li>
          <p>
            <%= participant.user.email %>
            <% if @trip.user == current_user %>
              <%= link_to "Retirer", participant_path(participant), method: :delete, data: { confirm: "Êtes-vous sûr ?"} %>        
            <% end %>
          </p>
        </li>
      <% end %>
    </ul>
    <% if @trip.user == current_user %>
      <%= link_to "Ajouter un participant", new_participant_path(trip: @trip) %>
    <% end %>
  </div>

  <div class="card my-3 p-3">
    <h4>Lieux</h4>

    <ul class="p-0">
      <% @trip.rooms.each do |room| %>
        <li class="d-block my-3">
        <% if room.photo %>
          <%= image_tag(room.photo, height: "150px") %>
        <% end %>
        <%= link_to "https://www.airbnb.fr/rooms/#{room.web_id}", target: :_blank do %>
          <p><%= room.name.empty? ? "Non identifié" : room.name %></p>
        <% end %>
        </li>
      <% end %>
    </ul>
    <%= link_to "Ajouter un lieu", new_trip_room_path(@trip) %>
  </div>
</div>