<div class=" ">

  <ul class="nav justify-content-around" id="myTab" role="tablist">
    <li>
      <button class="btn button-tab active" id="home-tab" data-toggle="tab" href="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
        HOME
        <div class="dot"></div>
      </button>
    </li>
    <li>
      <button class="btn button-tab" id="news-tab" data-toggle="tab" href="#news" type="button" role="tab" aria-controls="news" aria-selected="false">
        NEWS
        <div class="dot"></div>
      </button>
    </li>
    <li>
      <button class="btn button-tab" id="people-tab" data-toggle="tab" href="#people" type="button" role="tab" aria-controls="people" aria-selected="false">
        PEOPLE
        <div class="dot"></div>
      </button>
    </li>
  </ul>

  <div class="tab-content background-rounded-white" id="myTabContent">
    <!--  TAB HOME -->
    <div class="tab-pane fade p-3 show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <!-- CARD DESTINATION -->
      <div class="home_card">
            <%= image_tag "undraw_adventure_4hum.svg", class:"d-sm-block" %>
          <div class="home_card__info">
            <p class="home_card__category">destination</p>
            <p class="home_card__status">Propositions</p>
          </div>
          <%= link_to "Voir", edit_destination_path(@trip), class: "btn btn-secondary button-custom" %>
      </div>

      <!-- CARD DATES -->
      <div class="home_card">
        <%= image_tag "undraw_date_picker_gorr.svg", class:"d-sm-block"  %>
        <% if @trip.dates_chosen? %>
          <div class="home_card__info">
            <p class="home_card__category">dates</p>
            <p class="home_card__status"><%= "#{@trip.start_date.strftime('%d/%m/%y')} - #{@trip.end_date.strftime('%d/%m/%y')}"%></p>
          </div>
          <%= link_to "Modifier", "#{@trip.id}/edit_dates", class: "btn btn-secondary button-custom"  %>
        <% else %>
          <div class="home_card__info">
            <p class="home_card__category">dates</p>
            <p class="home_card__status">A définir</p>
          </div>
          <%= link_to "Démarrer", "#{@trip.id}/edit_dates", class: "btn btn-secondary btn-sm text-center"  %>
        <% end %>
      </div>
      
      <!-- CARD LOGEMENT -->
      <div class="home_card">
            <%= image_tag "undraw_house_searching.svg", class:"d-sm-block" %>
          <div class="home_card__info">
            <p class="home_card__category">logement</p>
            <p class="home_card__status"><%= @trip.rooms.count < 2 ? @trip.rooms.count.to_s + ' proposition' : @trip.rooms.count.to_s + ' propositions' %></p>
          </div>
          <%= link_to "Voir", trip_rooms_path(@trip), class: "btn btn-secondary button-custom" %>
      </div>

    </div>
    <!--  TAB NEWS -->
    <div class="tab-pane fade p-3" id="news" role="tabpanel" aria-labelledby="news-tab">
      <% @news.each do |new| %>
        <%= render layout: 'shared/news_card', locals: { new: new } do %>
          <%= render partial: 'shared/news_content', locals: { new: new } %>
        <% end %>
      <% end %>
    </div>
    <!--  TAB PEOPLE -->
    <div class="tab-pane fade" id="people" role="tabpanel" aria-labelledby="people-tab">
      <!-- CARD PARTICIPANTS -->
        <div class="col-12 p-3">
          <div class="d-flex align-items-center mb-3">
            <p class="text-center"><strong>participants</strong></p>
          </div>
          <div class="row p-3">
            <figure class="col-sm-12 col-md-4 text-center">
                <%= image_tag "undraw_group_selfie_ijc6.svg", class: "img-fluid", style: "max-height: 30vh" %>
            </figure>
            <div class="col-sm-12 col-md-8 text-center">
              <ul class="list-group list-group-flush">
                <% @participants.each do |participant| %>
                  <li class="list-group-item d-flex">
                    <p>
                      <%= participant.user.first_name %>
                    </p>
                    <% if @trip.user == current_user %>
                      <%= link_to participant_path(participant), method: :delete, data: { confirm: "Êtes-vous sûr ?"}, class: "ml-auto" do %>
                        <i class="fas fa-times-circle text-dark"></i>
                      <% end %>        
                    <% end %>
                  </li>
                <% end %>
              </ul>
              <%= link_to "Ajouter un participant", new_invite_path(trip: @trip), class: "btn btn-outline-dark btn-sm" %>
            </div>
          </div>
        </div>
    </div>
  </div>

</div>