<div class="container py-3">
  <h5 class="mt-3">Préparatifs</h5>
  <div class="card my-1 p-3">
    <h2><%= @trip.name %></h2>
    <p>Début : <%= @trip.start_date %></p>
    <p>Fin : <%= @trip.end_date %></p>
    <p>Destination : <%= @trip.destination %></p>
    <p>créé par <%= @trip.user.email %></p>
    <% if @trip.user == current_user %>
      (proprio)
      <%= link_to "Delete", trip_path(@trip), method: :delete, data: { confirm: "Êtes-vous sûr ?"} %>
    <% end %>
  </div>
  <div class="card my-3 p-3">
    <h4>Participants</h4>
    <ul>
      <% @participants.each do |participant| %>
        <li>
          <p>
            <%= participant.user.email %>
            <% if @trip.user == current_user %>
              <%= link_to "Retirer", participant_path(participant), method: :delete, data: { confirm: "Êtes-vous sûr ?"} %>        
            <% end %>
          </p>
        </li>
      <% end %>
    </ul>
    <% if @trip.user == current_user %>
      <%= link_to "Ajouter un participant", new_participant_path(trip: @trip) %>
    <% end %>
  </div>

  <div class="card my-3 p-3">
    <h4>Dates</h4>
    
  </div>
  <div class="card my-3 p-3">
    <h4>Lieux</h4>

    <ul class="p-0">
      <% @trip.rooms.each do |room| %>
        <li class="row my-3">
        <% if room.photo %>
          <%= image_tag(room.photo, class: "img-fluid col-12 col-md-4") %>
        <% end %>
        <div class="col-md-8">
          <%= link_to trip_room_path(room) do %>
            <p><%= room.name.empty? ? "Non identifié" : room.name %></p>
          <% end %>
          <p>Likes: <%= room.get_likes.size %></p>
          <% if @participants.size == room.get_likes.size %>
            <p>Tout le monde est partant ! <%= link_to "Faire la réservation", "#" %></p>
          <% end %>
        </div>
        </li>
      <% end %>
    </ul>
    <%= link_to "Ajouter un lieu", new_trip_room_path(@trip) %>
  </div>
</div>