<%= render layout: '/layouts/trip' do %>
<div class="trip_show_card_bg participant_list ">
  <ul class="list-group list-group-flush">
    <% @participants.each do |participant| %>
      <li class="list-group-item d-flex align-items-center bg-transparent">
        <%= render partial: 'shared/avatar', locals: {user: participant.user} %>
        <p class="ml-3">
          <%= participant.user.first_name %>
        </p>
        <% if @trip.user == current_user %>
          <%= link_to participant_path(participant), method: :delete, data: { confirm: "Êtes-vous sûr ?"}, class: "ml-auto" do %>
            <i class="fas fa-times-circle text-dark"></i>
          <% end %>        
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Ajouter un participant", new_invite_path(trip: @trip), class: "btn btn-primary btn-sm"%>
</div>
<% end %>