<div class="navbar-lewagon sticky-top">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="p-4">
      <% if user_signed_in? %>
            <%= link_to "Mes voyages", trips_path, class: "dropdown-item text-light" %>
            <%= link_to "Mon profil", "#", class: "dropdown-item text-light" %>
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item text-light" %>
      <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>
    </div>
  </div>
  <nav class="navbar navbar-dark">
    <% if params[:controller] == 'trips' && params[:action] == 'show' %>
      <%= link_to trips_path do %>
        <i class="fas fa-chevron-left text-light"></i>
      <% end %>
      <div class="col-10 text-center text-truncate text-light">
      <p class="text-light font-weight-bold text-truncate"><%= @trip.name %></p>
      <small class="text-light font-weight-light"><%= @participants_list %></small>
      </div>
    <% else %>
      <%= link_to root_path, class: "navbar-brand" do %>
        <p style="font-family: Ranchers">tripster</p>
      <% end %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
