<div class="navbar-lewagon sticky-top">
      <% if user_signed_in? %>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="p-4">
            <%= link_to "Mes voyages", trips_path, class: "dropdown-item text-light" %>
            <%= link_to "Mon profil", "#", class: "dropdown-item text-light" %>
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item text-light" %>
            <% if params[:controller] == 'trips' && params[:action] == 'show' && @trip.user == current_user %>
              <%= link_to "Supprimer ce trip", trip_path(@trip), method: :delete, data: { confirm: "Êtes-vous sûr ?"}, class: "dropdown-item text-danger" %>
            <% end %>
    </div>
  </div>
      <% end %>
  <nav class="navbar navbar-dark pt-1">
    <% if params[:controller] == 'trips' && params[:action] == 'show' %>
      <%= link_to trips_path do %>
        <i class="fas fa-chevron-left text-light"></i>
      <% end %>
    <% elsif params[:controller] == 'rooms' && params[:action] == 'index' %>
      <%= link_to :back do %>
        <i class="fas fa-chevron-left text-light"></i>
      <% end %>
    <% else %>
      <%= link_to root_path, class: "navbar-brand" do %>
        <p style="font-family: Ranchers">tripster</p>
      <% end %>
    <% end %>

    <% if params[:controller] == 'trips' && params[:action] == 'show' || params[:controller] == 'rooms' && params[:action] == 'index' %>
      <div class="col-10 text-center text-truncate text-light">
        <p class="text-light font-weight-bold text-truncate"><%= @trip.name %></p>
        <small class="text-light font-weight-light"><%= @participants_list %></small>
      </div>
    <% end %>
    
    <% if user_signed_in? %>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-ellipsis-v"></i>
      </button>
    <% else %>
        <%= link_to "Se connecter", new_user_session_path, class: "nav-item text-light" %>
    <% end %>
  </nav>
</div>
