  <div class="row border-0 my-3">
    <div class="col-12 col-sm-4 text-sm-left">
      <%= link_to trip_room_path(room, trip_id: room.trip.id) do %>
        <figure>
          <%= image_tag(room.photo, class: "img-fluid rounded", style: "max-height: 30vh; width: 100%; object-fit: cover;") if room.photo %>
        </figure>    
      <% end %>
    </div>
    <div class="col-12 col-sm-8 text-dark">
      <p class="text-truncate">
        <%= link_to trip_room_path(room, trip_id: room.trip.id) do %>
          <strong><%= room.name? ? room.name : "Non identifié" %></strong>
        <% end %>
      </p>
      <p>
      
      <% room.avg_score.to_i.times do %>
        <i class="fas fa-star"></i>
      <% end %>
      <% (5 - room.avg_score.to_i).times do %>
        <i class="far fa-star"></i>
      <% end %>
      <small><%= room.reviews.count %> avis</small>
      </p>
      <small>Ajouté il y a <%= room.time_since_created %></small>
      <div class="d-none d-sm-block">
        <% if !Review.where(user: current_user, room: room).empty? %>
          <%= render partial: 'shared/review_text', locals: {review: Review.where(user: current_user, room: room).first} %>
        <% else %>
          <p class="text-danger"><small>Vous n'avez pas encore donné votre avis pour ce logement</small></p>
        <% end %>
      </div>
    </div>
  </div>