<!--
<div class="d-block d-sm-none" style="background-color: #515151">
  <div class="home-full-height mx-3">
    <%= image_tag 'undraw_traveling.svg', class:"img-fluid" %>
    <h3 class="text-light text-center my-2">Organisez facilement vos vacances en groupe</h3>
  </div>
  <div class="background-rounded-white-log-options">
    <%= link_to "Créer un compte", new_user_registration_path, class:"btn btn-primary mb-2 home-log-btn" %>
    <%= link_to "Se connecter", new_user_session_path, class:"btn btn-outline-primary home-log-btn" %>
  </div>
</div>

<div class="d-none d-sm-block"style="background-color: #515151">
  <div class="row align-items-center justify-content-center home-sm-full-height">
    <div class="col-sm-6">
      <h1 class="home-sm-title text-light my-4">Organisez facilement vos vacances à plusieurs</h1>
      <p class="text-light my-4">Finis les innombrables groupes de discussion pour organiser les vacances où rien n’avance comme il faut. Avec Tripster, choisissez votre destination, trouvez les dates qui conviennent à tous et dénichez ensemble la maison de vacances de vos rêves !</p>
      <%= link_to "Créer un compte", new_user_registration_path, class:"btn btn-primary my-4 home-log-btn" %>
    </div>
    <div class="col-sm-4">
      <%= image_tag 'undraw_traveling.svg', class:"img-fluid" %>
    </div>
  </div>
</div>
-->

<div class="home_bg" style="background-image: url('<%= image_path "demo_product.png" %>')">
</div>
<div class="home_container">
  <div class="home_card_bg">
    <div class="home_card_left">
      <h1 class="home_title">Organisez vos vacances à plusieurs avec <strong>Tripster</strong></h1>
      <p>Finis les innombrables groupes de discussion pour organiser les vacances où rien n’avance comme il faut !</p>
      <div class="home_card_links">
        <%= link_to "Créer un compte", new_user_registration_path, class:"btn btn-primary" %>
        <%= link_to "Se connecter", new_user_session_path, class: "btn btn-outline-primary" %>
      </div>
    </div>
    <div class="home_card_right">
      <%= image_tag "demo_product.png" %>
    </div>
  </div>
</div>