<%= render layout: '/layouts/trip' do %>
  <%= simple_form_for [@trip,@room] do |f| %>
    <%= render layout: '/layouts/transparent_card' do %>
      <% if @room.photo %>
        <%= image_tag @room.photo, class:"img-fluid room_img" %>
      <% end %>
      <div class="form-inputs">
        <% if !@room.photo %>
          <%= f.input :photo, label: "url photo" %>
        <% end %>
        <%= f.input :name, label: "Nom du logement" %>
        <div class="row">
          <div class="col-6">
            <%= f.input :website, label: "Site internet" %>
          </div>
          <div class="col-6">
            <%= f.input :price, label: "Prix total" %>
          </div>
        </div>
        <%= f.submit "Enregistrer", :class=>"btn btn-primary mt-3" %>
      </div>
    <% end %>
  <% end %>
<% end %>