<div class="background-rounded-white-no-tab p-3">
  <%= simple_form_for [@trip,@room] do |f| %>
    <div class="row">
      <div class="d-sm-none col-12">
        <%= image_tag @room.photo, class:"img-fluid" %>
      </div>
      <div class="d-none d-sm-block col-12 col-sm-4">
        <%= image_tag @room.photo, style:"max-width: 100%;min-height: calc(100vh - 60px - 32px);;object-fit: cover;" %>
      </div>
      <div class="col-12 col-sm-8">
        <%= f.input :name, label: "Nom du logement" %>
        <div class="row">
          <div class="col-6">
            <%= f.input :website, label: "Site internet" %>
          </div>
          <div class="col-6">
            <%= f.input :price, label: "Prix total" %>
          </div>
        </div>
        <%= f.submit "Enregistrer", :class=>"btn btn-primary mt-3" %>
      </div>
    </div>
  <% end %>
</div>