<div class="container">
  <div class="d-flex p-3 align-items-end" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @room.photo %>'); height: 60vh; background-size: cover; background-position: center;">
    <h1 class="text-light"><%= @room.name %></h1>
  </div>
  <div class="my-3">
    
    <% if current_user.liked? @room %>
        <%= link_to like_trip_room_path(@room, format: 'unlike'), class: "btn btn-danger", method: :put do %> 
        Unlike
        <% end %>
    <% else %>
        <%= link_to like_trip_room_path(@room, format: 'like'), class: "btn btn-success", method: :put do %> 
        Like
        <% end %>
    <% end %>
    
    <%= link_to "Supprimer", trip_room_path(@room), method: :delete, data: { confirm: "Êtes-vous sûr ?"}, class: "btn btn-outline-danger" %>
    <p>Nombre de likes : <%= @room.get_likes.size %></p>
    <%= link_to "Voir sur le site", @room.url  %>
    <br>
    <%= link_to "Retour au voyage", trip_path(@trip)  %>
  </div>
</div>