<div class="background-rounded-white-no-tab-no-part px-4 py-5">
<%= form_for @trip, method: :put, url: wizard_path do |f| %>
  <% if f.object.errors.any? %>
    <div class="error_messages">
      <% f.object.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <fieldset>
    <legend class="trip_question"><strong>Quand veux-tu partir ?</strong></legend>

    <div>
      <p><%= f.label :start_date %></p>
      <%= f.date_select(:start_date, :order => [:day, :month, :year])  %>
    </div>

    <div>
      <p><%= f.label :end_date %></p>
      <%= f.date_select(:end_date, :order => [:day, :month, :year]) %>
    </div>

    <div class="d-flex justify-content-center">
      <%= button_tag type: 'submit', class: "btn btn-primary", id: "trip_form_next" do %>
        <p>Suite
        <i class="fas fa-long-arrow-alt-right ml-1"></i></p>
      <% end %>
    </div>
  </fieldset>
<% end %>
</div>