<div class="background-rounded-white-no-tab p-3">
<%= form_for @trip, method: :put, url: wizard_path do |f| %>
  <% if f.object.errors.any? %>
    <div class="error_messages">
      <% f.object.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <fieldset>
    <legend>Trip name</legend>

    <div>
      <%= f.label :start_date %>
      <%= f.date_select(:start_date, :order => [:month, :day, :year])  %>
    </div>

    <div>
      <%= f.label :end_date %>
      <%= f.date_select(:end_date, :order => [:month, :day, :year]) %>
    </div>

    <div>
      <%= f.submit 'Next Step' %>
    </div>
  </fieldset>
<% end %>
</div>