<div class="background-rounded-white-no-tab p-3">
<%= form_for @trip, method: :put, url: wizard_path do |f| %>
  <% if f.object.errors.any? %>
    <div class="error_messages">
      <% f.object.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <fieldset>
    <legend>Trip destination</legend>

    <div>
      <%= f.label :destination %>
      <%= f.text_field :destination %>
    </div>

    <div>
      <%= f.submit 'Next Step' %>
    </div>
  </fieldset>
<% end %>
</div>